@import url(global.css);

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
    background: linear-gradient(180deg, #020617 0%, #071221 100%);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.45;
}

.container {
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 28px;
}

header {
    position: sticky;
    top: 12px;
    z-index: 30
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    padding: 10px;
    border-radius: 18px;
    box-shadow: var(--shadow);
    backdrop-filter: blur(6px);
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px
}

.brand img {
    height: 60px;
    /* width: 60px; */
    /* object-fit: contain; */
    border-radius: 10px;
    /* background: linear-gradient(90deg, #001b0b, #002a1a) */
}

.brand .title {
    font-weight: 700;
    letter-spacing: 0.2px
}

.brand .subtitle {
    font-size: 12px;
    color: var(--muted);
    margin-top: 2px
}

nav a {
    color: var(--white);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px
}

nav a:hover,
.btn-primary:hover {
    background: #086e34
}

.cta-wa {
    background: var(--accent);
    color: #02120a;
    padding: 9px 14px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    margin: 28px 0
}

.hero-left h1 {
    font-size: 34px;
    margin: 6px 0 12px
}

.hero-left p {
    color: var(--muted);
    margin: 0 0 16px
}

.badges {
    display: flex;
    gap: 8px;
    flex-wrap: wrap
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 700
}

.btn-primary {
    background: var(--accent);
    color: #02120a;
}

.hero-left .btn-primary,
#card {
    animation: whats 2.1s ease-in-out infinite;
}

@keyframes whats {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(15deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    40%,
    100% {
        transform: rotate(0);
    }
}

.btn-secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--white)
}

.btn-secondary:hover {
    background: rgb(2, 2, 2);
}

/* card */
.card {
    background: var(--card);
    border-radius: 16px;
    padding: 18px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

/* Gallery grid */
.grid {
    display: grid;
    gap: 14px
}

.grid.cols-3 {
    grid-template-columns: repeat(3, 1fr)
}

.grid.cols-2 {
    grid-template-columns: repeat(2, 1fr)
}

.thumb {
    overflow: hidden;
    border-radius: 12px;
    height: 300px;
    /* background: #07202a; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thumb img {
    width: 100%;
    height: 95%;
    object-fit: contain;
    display: block;
}

.thumb.card .muted {
    margin-top: 10px;
}

/* Videos */
.video-wrap {
    aspect-ratio: 16/9;
    background: #000;
    border-radius: 12px;
    overflow: hidden
}

.pricing.over {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px; */
    display: flex;
    max-width: var(--maxw);
    overflow-x: scroll;
    gap: 30px;
}

.price-card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    padding: 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    min-width: 260px;
    /* ou o valor que quiser */
}

.price-card h4 {
    margin: 0 0 8px;
}

.price-card .price {
    font-weight: 800;
    color: var(--accent);
    font-size: 18px;
}

.price-card img {
    width: 100%;
}

#sobre {
    margin-right: 50px;
}

.footer {
    margin-top: 34px;
    padding: 18px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01), transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    color: var(--muted)
}

/* contact form */
form input,
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.02);
    color: var(--white);
    resize: vertical
}

form label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 13px
}

/* responsive */
@media(min-width:900px) {
    .hero {
        grid-template-columns: 1fr 420px
    }

    .grid.cols-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .pricing {
        grid-template-columns: repeat(4, 1fr)
    }

}

@media(max-width:899px) {
    .grid.cols-3 {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width:520px) {
    .brand img {
        height: 44px;
        width: 44px
    }

    .hero-left h1 {
        font-size: 26px
    }

    .grid.cols-3 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid.cols-2 {
        grid-template-columns: repeat(1, 1fr)
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .nav nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .nav nav a {
        padding: 6px 10px;
        font-size: 0.95rem;
    }

    .cta-wa {
        margin-top: 6px;
    }
}

/* small helpers */
.muted {
    color: var(--muted)
}

.small {
    font-size: 13px
}

.muted.small {
    padding: 0;
}

ul.muted.small {
    padding-left: 15px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag {
    display: inline-block;
    padding: 6px 10px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 999px;
    font-weight: 700;
    color: var(--muted);
    font-size: 13px
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
    background: #050C1C;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #086e34;
}